{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|markdown }}
    <p> {# Для динамического формирования ссылок используется шаблонный тег {% url %} #}
        <a href="{% url "blog:post_share" post.id %}">Share this post</a>
    </p>

        <h2>Similar posts</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        There are no similar posts yet.
    {% endfor %}
    <br/>

    {# Мы используем ORM Django в шаблоне, выполняя comments.count().#}
    {# Тег {% with %} позволяет назначить переменной новое имя, можно юзать внутри блока до ближайшего тега {% endwith %}.#}
    {% with comments.count as total_comments %} {# строка с количеством комментариев #}

{# используем шаблонный фильтр pluralize для отображения слова comment во множественном числе, если это будет необходимо. Этот фильтр принимает #}
{# значение, опеределяет количество объектов, и возвращает соответствующий результат («0 comments», «1 comment» или «N comments») #}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %} {# срабатывает, если for ни разу не отработал #}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if messages %}
        {% for msg in messages|slice:":1" %}
            <h2>{{msg.message}}</h2>
        {% endfor %}
{#        <h2>Your comment has been added</h2>#}
    {% else %}
        <h2>Add a new comment</h2>
        <form action="./comment" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}

{% endblock %}